# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorFlow / Keras model files
*.h5
*.keras

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/

# Large datasets (optional)
dataset/

# Model checkpoints
checkpoints/

# Environment variables
.env